build_dependencies/depot_tools/
build_dependencies/ndk/
build_dependencies/pdfium_source/
reports/
__pycache__/
.gradle/
.idea/
*.iml
app/build/**
.gitignore
work/
local.properties
app/libs/**
app/release/app-release.aab
app/src/main/java/com/gitlab/mudlej/MjPdfReader/deleted_code/
PdfiumAndroid/src/main/jni/lib/arm64-v8a/libmodft2.so
PdfiumAndroid/src/main/jni/lib/arm64-v8a/libmodpng.so
PdfiumAndroid/src/main/jni/lib/armeabi-v7a/libc++_shared.so
PdfiumAndroid/src/main/jni/lib/armeabi-v7a/libmodft2.so
PdfiumAndroid/src/main/jni/lib/armeabi-v7a/libmodpng.so
PdfiumAndroid/src/main/jni/lib/x86/libc++_shared.so
PdfiumAndroid/src/main/jni/lib/x86/libmodft2.so
PdfiumAndroid/src/main/jni/lib/x86/libmodpng.so
PdfiumAndroid/src/main/jni/lib/x86_64/libc++_shared.so
PdfiumAndroid/src/main/jni/lib/x86_64/libmodft2.so
PdfiumAndroid/src/main/jni/lib/x86_64/libmodpng.so
PdfiumAndroid/src/main/jni/lib/arm64-v8a/libc++_shared.so
PdfiumAndroid/src/main/jni/lib/arm64-v8a/**
PdfiumAndroid/src/main/jni/lib/armeabi-v7a/**
PdfiumAndroid/src/main/jni/lib/x86/**
PdfiumAndroid/src/main/jni/lib/x86_64/**
PdfiumAndroid/src/main/libs/**
PdfiumAndroid/src/main/obj/**
PdfiumAndroid/*.iml
PdfiumAndroid/.gradle
PdfiumAndroid/local.properties
PdfiumAndroid/.idea//**
PdfiumAndroid/.DS_Store
PdfiumAndroid/build/**
PdfiumAndroid/captures/**
AndroidPdfViewer/android-pdf-viewer/build/**
AndroidPdfViewer/android-pdf-viewer/build/intermediates/**
build_dependencies/libpng_build/**
build_dependencies/freetype_build/**
problems-report.html