<?xml version="1.0" encoding="utf-8"?>
<!--
    ~ OPENDOC: Privacy-First Document Reader
    ~ Copyright (C) 2026 AamirForAi & OpenDoc Contributors
    ~ Licensed under the GNU General Public License v3.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 100% Offline App: Internet Permission Strictly Removed -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:name="com.opendoc.documentreader.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="OpenDoc"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/OPENDOC_THEME"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/HomeTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity-alias
            android:name=".Launcher"
            android:exported="true"
            android:targetActivity=".ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gotopage.GoToPageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.links.LinksActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tableofcontents.TableOfContentsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.userbookmarks.UserBookmarksActivity"
            android:exported="false" />
        <activity
            android:name=".ui.usernotes.UserNotesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.userhighlights.UserHighlightsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.history.NavigationHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.ScanLocationsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.history.ReadingHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.text_mode.TextModeActivity"
            android:exported="false"
            android:theme="@style/TextModeTheme" />

        <activity
            android:name=".ui.reader.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:documentLaunchMode="intoExisting"
            android:exported="true">

            <!-- Core Component: High-Performance Offline PDF Viewer Engines -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" />
                <data android:scheme="smb" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:pathPattern=".*\\.pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" />
                <data android:scheme="smb" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\..*\\.pdf" />
                <data android:pathPattern=".*\\..*\\..*\\.pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/pdf" />
            </intent-filter>

            <!-- OpenDoc Core Extension: Offline Office Format Decoders (Word, Excel, PPT) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <!-- Microsoft Word Extensions -->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/msword" />
                <!-- Microsoft Excel Extensions -->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:mimeType="application/vnd.ms-excel" />
                <!-- Microsoft PowerPoint Extensions -->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                <data android:mimeType="application/vnd.ms-powerpoint" />
            </intent-filter>

            <!-- OpenDoc Core Extension: Offline Structured Text Decoders (TXT, JSON, CSV) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/json" />
                <data android:mimeType="text/csv" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- OpenDoc Multi-Format Viewer -->
        <activity
            android:name="com.gitlab.mudlej.MjPdfReader.OpenDocViewerActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="false"
            android:label="@string/action_about"
            android:parentActivityName=".ui.reader.MainActivity" />
        <activity
            android:name=".ui.about.WhatsNewActivity"
            android:exported="false"
            android:label="@string/whats_new_title" />
        <activity
            android:name=".ui.about.AppFeaturesActivity"
            android:exported="false"
            android:label="@string/features_title" />
        <activity
            android:name=".ui.about.FeatureTopicActivity"
            android:exported="false"
            android:label="@string/features_title" />
        <activity
            android:name=".ui.intro.MainIntroActivity"
            android:exported="false"
            android:label="OpenDoc" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
